%div.container-12.clearfix
  %div.grid-8
    %h1
      %a{ :href => '/' }='UR Produktsök'
  %div.grid-4
    %ul.nav
      %li
        %a.active{ :href => '/' }="Sök"
      %li
        %a{ :href => '/subjects' }="Bläddra ämnesvis"
  - if !search.nil? && search.ok? && search.num_found > 0
    %div.grid-8
      %div.products.clearfix
        %form#search{ :action => '/', :method => 'get' }
          %input{ :type => 'text', :name => 'q', :autofocus => 'true', :value => params[:q] }
          %input.button{ :type => 'submit', :value => 'Sök' }
          - if !search.nil? && search.ok? && should_show_results?
            %div.num_found
              = "Antal träffar"
              %strong=search.num_found
        - if should_show_results?
          - search.products.each do |product|
            %div.product.clearfix
              %div.grid-2.alpha
                %a{ :href => "/#{product.ur_product_id}" }
                  %img{ :src => product.image_url(1, '_t'), :width => 128 }
              %div.grid-6.omega
                %h4
                  %a{ :href => "/#{product.ur_product_id}" }= product.title
                %strong
                  = translated_product_type(product.full_type)
                  = " (#{product.production_year})" if !product.production_year.nil?
                %p=product.easy_to_read_description
          - if search.next_page > current_page
            %div.next_page
              %a{ :href => next_page_link(search.next_page) }
                ="Nästa sida &rarr;"    
    %div.grid-4
      %div.sidebar
        %h3
          = "Filtrera träffar"  
        - if tag_cloud
          %div.tag_cloud
            %h4= "Ämnesord"
            %ul
              %li
                - if !params[:fq].nil? && params[:fq].match('ao:')
                  %a.remove_tag_cloud_filter{ :href => remove_facet_link('ao') }
                    = "&otimes;"
                = tag_cloud.html_and_css(15)
        - if selected_sab
          %h4= "Ämneskod"
          %ul
            %li
              %span
                %strong= selected_sab.code
                %span= selected_sab.text
              %a.remove_facet_filter{ :href => remove_facet_link('sab_subjects') }
                = "&otimes;"
                
        - facet_order.each do |facet_name, facet_title|
          - if !search.facets[facet_name].nil? && search.facets[facet_name].size > 0
            %div.facet{ :class => facet_name }
              %h4=facet_title
              %ul
                - search.facets[facet_name][0...5].each do |facet|
                  %li
                    = haml(:'_facet', { :layout => false, :locals => { :name => facet_name, :facet => facet }})
                - if search.facets[facet_name].count > 5
                  %li
                    %a.show_more{ :href => '#' }= "Visa fler…"
                  - search.facets[facet_name][5..-1].each do |facet|
                    %li.hidden
                      = haml(:'_facet', { :layout => false, :locals => { :name => facet_name, :facet => facet }})