%div.container-12
  %div.grid-8
    %h1
      %a{ :href => '/' }='UR Produktsök'
  %div.grid-4
    %ul.nav
      %li
        %a{ :href => '/' }="Sök"
      %li
        %a{ :href => '/subjects' }="Bläddra ämnesvis"
  %div.grid-8
    %div.main_content
      %h2
        = product.title
      %h3
        = translated_product_type(product.full_type)
        = " (#{product.production_year})" if !product.production_year.nil?
      %p.easy_to_read_description= product.easy_to_read_description
      %p.description= product.description
      - if product.has_packageseries?
        %h4
          = "Om serien:"
          = product.packageseries.first.title
  %div.grid-4
    %div.sidebar
      = haml(:'_sidebar', { :layout => false, :locals => { :p => product }})